<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="__WXCSS__/weui.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="__ADMINJS__/jquery.dialog.js"></script>
    <script src="__ADMINJS__/jquery.js" ></script>
    <script src="__WXJS__/jquery-weui.min.js"></script>
    <script src="__WXJS__/swiper.js"></script>
    <script src="__WXJS__/city-picker.js" ></script>
    <title>投票</title>
	<style>
    .justify{
        justify-content: center;
    }
    .align{
        align-items: center;
    }
    .wid{
       
        height: 5em;
    }
</style>
</head>
<body>
<h5>
    <img src = "http://www.ychudong.com/vote/Public/Admin/images/html_header.png" alt = "" style ="width:100%;height: 30%">
</h5>
<div class="weui-cells weui-cells_checkbox">
	
    <article class="weui-article" id = 'list'>
        <volist name="user_list" id="vo">
			<div class="weui-cell" >
				<div class="weui-flex justify">
					<div class="weui-flex__item" >
						<div class="weui-cell" >
						 <section style="float: right" >
							<section>
								<p>
									<img src="http://www.ychudong.com/vote/Public/Uploads/{$vo.image}" alt="" style="width:30%;height:40px" onclick = "getDetail(this)" id="{$vo.id},{$vo.is_vote},{$count}">
								</p>
								<!-- <h3>名称：{$vo.name}</h3> -->
								<!-- <p>单位：{$vo.company} </p> -->
								<!-- <p>职位：{$vo.position}</p> -->
								<p class = "p{$vo.id}">得票数：<span>{$vo.votes}</span></p>
								<!-- <p>简介：{$vo.memo}</p> -->
							</section>
							<label class="weui-cell__hd weui-check__label" style="float: left" for="we{$vo.id}">
								<if condition = "$vo['is_vote'] eq 1">
									<input type="checkbox" class="weui-check" name="checkbox" id="we{$vo.id}" value={$vo.id} disabled = "disabled">
									<else/>
									<input type="checkbox" class="weui-check" name="checkbox" id="we{$vo.id}" value="{$vo.id}">
								</if>
								<i class="weui-icon-checked"></i>
								<if condition = "$vo['is_vote'] eq 1">
									<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em">已投票</a>
									<else/>
									<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em" id="a{$vo.id}">投票</a>
								</if>

							</label>
						</section>
						</div>
					</div>
					<div class="weui-flex__item">
						<div class="weui-cell" >
						 <section style="float: right" >
							<section>
								<p>
									<img src="http://www.ychudong.com/vote/Public/Uploads/{$vo.image}" alt="" style="width:30%;height:40px" onclick = "getDetail(this)" id="{$vo.id},{$vo.is_vote},{$count}">
								</p>
								<!-- <h3>名称：{$vo.name}</h3> -->
								<!-- <p>单位：{$vo.company} </p> -->
								<!-- <p>职位：{$vo.position}</p> -->
								<p class = "p{$vo.id}">得票数：<span>{$vo.votes}</span></p>
								<!-- <p>简介：{$vo.memo}</p> -->
							</section>
							<label class="weui-cell__hd weui-check__label" style="float: left" for="we{$vo.id}">
								<if condition = "$vo['is_vote'] eq 1">
									<input type="checkbox" class="weui-check" name="checkbox" id="we{$vo.id}" value={$vo.id} disabled = "disabled">
									<else/>
									<input type="checkbox" class="weui-check" name="checkbox" id="we{$vo.id}" value="{$vo.id}">
								</if>
								<i class="weui-icon-checked"></i>
								<if condition = "$vo['is_vote'] eq 1">
									<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em">已投票</a>
									<else/>
									<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em" id="a{$vo.id}">投票</a>
								</if>

							</label>
						</section>
						</div>
					</div>
				</div>
               
            </div>
        </volist>
    </article>
</div>

<div class="weui-footer">
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <button class="weui-btn weui-btn_mini weui-btn_warn" style="width: 40%" value="{$info}" id = "button">
                投票
            </button>
        </p>
    </div>
    <input type="hidden" name = 'page' value = "{$page}"/>
    <input type="hidden" name = 'count' value = "{$count}"/>
    <input type="hidden" name = 'openid' value = "{$openid}"/>
    <input type="hidden" name = 'totalPage' value = "{$totalPage}"/>
</div>
<div class="weui-loadmore">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>
<div id="toast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">投票成功</p>
    </div>
</div>
<div id="footer">

</div>
</body>
<script>
    //下拉加载
    $(document.body).infinite(10000000);
    var loading = false;  //状态标记 weui-btn_disabled
    $(document.body).infinite().on("infinite", function() {
        if(loading) return;
        loading = true;
        setTimeout(function(html) {
            //var button = $('button');

            var count = $("input[name = 'count']").val();
            var openId = $("input[name = 'openid']").val();
            //alert(openId);
            //alert(openId);
            var page = parseInt($("input[name = 'page']").val()) + parseInt(1);
            //alert(page);
            var totalPage = $("input[name = 'totalPage']").val();
            if(totalPage < page){
                //没有数据了
                $('.weui-loadmore__tips').text('没有数据了');
                $('.weui-loadmore').css('display','none');
                //撤销加载
                //加载页尾
                var footer = '<img src = "http://www.ychudong.com/vote/Public/Admin/images/html_footer.png" alt = "" style ="width:100%;height: 8%">';
                $('#footer').append(footer);
            }else{
                $.ajax({
                    type: "POST",
                    url: "http://www.ychudong.com/vote/Wx/Index/getList",
                    data:   "wid="+openId+"&page="+page,
                    dataType:"json",
                    success: function(msg) {
                        var html = '';

                        for(x in msg.user_list){
                            //alert(msg.user_list[x].is_vote);
                            html += '<div class="weui-cell" >';
                            html += ' <section style="float: right" disabled="true">';
                            html += ' <section>';
                           
                            html += ' <p><img src="http://www.ychudong.com/vote/Public/Uploads/'+msg.user_list[x].image+'"  alt = "" style="width:30%;height:40px" onclick="getDetail(this)" id="'+msg.user_list[x].id+','+msg.user_list[x].is_vote+','+count+'"> </p>';
                            html += '<h3>名称：'+msg.user_list[x].name+'</h3>';
							html += '<p>单位：'+msg.user_list[x].company+'</p>';
                            html += '<p>职位：'+msg.user_list[x].position+'</p>';
                            html += '<p class = "p'+msg.user_list[x].id+'">得票数：<span>'+msg.user_list[x].votes+'</span></p>';
                            <!-- html += '<p>简介：'+msg.user_list[x].memo+'</p>'; -->
                            html += '</section>';
                            html += '<label class="weui-cell__hd weui-check__label" style="float: left" for="we'+msg.user_list[x].id+'">';
                            if(msg.user_list[x].is_vote === 1){
                                html += '<input type="checkbox" class="weui-check" name="checkbox" id="we'+msg.user_list[x].id+'" value='+msg.user_list[x].id+' disabled = "disabled">';

                            }else{
                                html += '<input type="checkbox" class="weui-check" name="checkbox" id="we'+msg.user_list[x].id+'" value='+msg.user_list[x].id+'>';

                            }
                            html += '<i class="weui-icon-checked"></i>';

                            if(msg.user_list[x].is_vote == 1){
                                html += '<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em">已投票</a>';
                            }else{
                                html += '<a class="weui-btn weui-btn_mini weui-btn_default" style="margin-left: 15px;margin-bottom: 0.0000000em" id="a'+msg.user_list[x].id+'">投票</a>';
                            }

                            html += '</lable>';
                            html += '</section>';
                            html += '</div>';
                        }
                        //alert(html);
                        $("#list").append(html);
                        //存储页数
                        $("input[name='page']").val(page);

                    }
                });
                loading = false;
            }

        }, 2500);   //模拟延迟

    });
    //点击投票
    $('#button').click(function(){
        //获取用户的基本信息

        var count =  $("input[name='count']").val();
        var openId = $("input[name='openid']").val();
        var page = $("input[name='page']").val();

        //获取所选中的复选框
        var chk_value =[];
        $('input[name="checkbox"]:checked').each(function(){
            chk_value.push($(this).val());
        });
        var length = chk_value.length;
        if((parseInt(count) + parseInt(length)) > 10){
            alert('每天最多对10个候选人投票');
        }else{
            var voters = chk_value.join(',');
            //alert(voters);
            //ajax请求投票接口
            // alert(voters);
            $.ajax({
                type: "POST",
                url: "http://www.ychudong.com/vote/Wx/Index/vote",
                data:   "wid="+openId+"&ids="+voters,
                dataType:"json",
                success: function(msg) {
                    if(msg.status == 1){
                        //投票成功
                        $('#toast').css('display','block');
                        //$("button").attr('id','bu');
                        //定时器
                        //alert(chk_value);
                        var timer = window.setTimeout(function(){
                            $('#toast').css('display','none');
                            //改变选中投票人票数以及变为不可选中
                            for(x in chk_value){
                                var obj =  $('.p'+chk_value[x]);


                                var text = obj.text();
                                var vote = text.split('：');
                                var votes = parseInt(vote[1]) + parseInt(1);

                                obj.text('得票数：'+ votes);
                                var obj1 = $('#'+chk_value[x]);
                                obj1.attr('disabled','disabled');
                                obj1.attr('checked',false);
                                $('#a'+chk_value[x]).text('已投票');
                            }
                            var obj2 = $("input[name='count']");
                            var count = obj2.val();
                            var counts = parseInt(count) + parseInt(chk_value.length);
                            obj2.val(counts);
                        },1000);
                    }else{
                        //投票失败
                        alert(msg.message);
                    }
                }
            });

        }

    });
    //显示详情
    function getDetail(obj){
        var id = obj.id;
        //alert(id);
        var wid = $("input[name='openid']").val();
        window.location.href = "http://www.ychudong.com/vote/Wx/Index/getDetail/id/"+id+"/wid/"+wid;
    }
</script>